.header{
    margin-top: 6rem;
}
.grid{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}
h1{
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
}
.text{
    h2{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin-bottom: 10px;
    }
    p{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
}
@media(max-width: 640px){
    .grid{
        grid-auto-flow: row;
        justify-content: center;
    }
    .text{
        margin-top: 2rem;
    }
    
}